.Div3_28_57 {
  z-index: 4;
  width: 1438.9683837890625px;
  min-height: 763.029052734375px;
  background-color: transparent;
  border: none;
  border-radius: 0px 0px 0px 0px;
  position: relative;
}
